<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <header id="home">
        <div class="logo">
            <h1><span style="color:rgb(82, 191, 79);">Stony Hill</span> Primary</h1>
        </div>

        <div class="search">
            <form action="/search" method="POST" novalidate>
            <input type="search" placeholder="Title, Author" name="searchBar">
            <button class="searching allButton" style="cursor: pointer;">search</button>
        </form>
        </div>

        <div class="adminSection">
            <i class="fa-solid fa-user admin" style="color:rgb(82, 191, 79)"></i>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#books">Books Available</a></li>
            <li><a href="#newRelease">New Release</a></li>
            <li><a href="#s">Coming Soon</a></li>
            <li><a href="#footer">Contact</a></li>
        </ul>
    </nav>

    <main id="main">

        <div class="content">
            <h2>Satisfy the thirst of<br> knowledge</h2>
            <h2 style="color:rgb(82, 191, 79); font-size: 40px;">Keep your mind fresh</h2>
            <p style="font-size: 16px; text-transform: lowercase;">Explore the world of books</p>
            <a href="popup.html"><button class="button allButton" >Rent</button> </a>
        </div>
    </main>

    <div class="container" id="books">
        
        <!-- thriller books -->
        <div class="mySlides fade" >
            <h1 class="heading">Thrillers</h1>
             <% userData.forEach((data)=>{
                 if(data.category_id == 2){%>
            <div class="card">
                <div class="box">
                    <img src="<%=data.image_src%>" alt="">
                </div>
                <h3><%= data.Title%></h3>
                <h3><%= data.author_name%></h3>
           </div>
           <%} })%>  
        </div>

              <!-- love books -->
        <div class="mySlides fade">
            <h1 class="heading">Romance</h1>
            <% userData.forEach((data)=>{
                if(data.category_id == 3){%>
            <div class="card">
                <div class="box">
                    <img src="<%=data.image_src%>" alt="">
                </div>
                <h3><%= data.Title%></h3>
                <h3><%= data.author_name%></h3>
            </div>
            <%} })%>  
        </div>

             <!-- Psychology books-->
        <div class="mySlides fade">
            <h1 class="heading">Psychology</h1>
            <% userData.forEach((data)=>{
                if(data.category_id == 1){%>
            <div class="card">
                <div class="box">
                    <img src="<%=data.image_src%>" alt="">
                </div>
                <h3><%= data.Title%></h3>
                <h3><%= data.author_name%></h3>
            </div> 
            <%} })%>  
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>

    <!-- modal for login adimn -->
    <div class="loginModal">
        <div class="modal-content">
            <form action="/login" method="POST" class="form">
                <span class="close">&times;</span>

                <div class="image">
                    <i class="fa-solid fa-user admin" style="color:rgb(82, 191, 79)"></i>
                </div>

                <div class="input-content">
                    <label for="email" >Email</label>
                    <input type="text" name="email" placeholder="Enter Email" class="email input">
                </div>
        
                <div class="input-content">
                    <label for="password">Password</label>
                    <input type="text" name="password" placeholder="Enter Password" class="password input">
                </div>

                <button type="submit" class="login">Login</button>
            </form>
        </div>
    </div>

    <!-- footer design for webpage -->
    <footer id="footer">
        <div class="company">
            <h4>Company</h4>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">About Us</a></li>
            </ul>
        </div>

        <div class="getHelp">
            <h4>Get Help</h4>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Shipping</a></li>
                <li><a href="">Returns</a></li>
                <li><a href="">Order Status</a></li>
            </ul>
        </div>

        <div class="followUs">
            <h4>Our Contact</h4>
            <div class="visit">
               <li>Visit our bookstore</li>
               <li>111-222-333</li>
            </div>
        </div>

        <div class="followUs">
            <h4>Follow Us</h4>
            <div class="icons">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

    </footer>

    <script src="script.js"></script>
</body>
</html>